@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

.border-32 {
  border-width: 10px;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown ol ul {
  margin-left: 10px;
}

.markdown ul {
  list-style-type: disc; /* 或者 circle、square */
}

.markdown ul ul {
  margin-left: 10px;
  list-style-type: circle;
}

.markdown table tr th, table tr td {
  border: 1px solid black;
}


.markdown blockquote {
  border-left: 3px solid gray;
  margin: 10px;
  padding-left: 10px;
}
.markdown a{
  color: blue;
}

.markdown h1 {
  font-size: 2.5rem; /* 调整为你想要的字体大小 */
}

.markdown h2 {
  font-size: 2rem; /* 调整为你想要的字体大小 */
}

.markdown h3 {
  font-size: 1.75rem; /* 调整为你想要的字体大小 */
}

.markdown h4 {
  font-size: 1.5rem; /* 调整为你想要的字体大小 */
}

.markdown h5 {
  font-size: 1.25rem; /* 调整为你想要的字体大小 */
}

.markdown h6 {
  font-size: 1rem; /* 调整为你想要的字体大小 */
}

html,
body,
#__next {
  padding: 10px;
  margin: 0;
  height: 100%;
  width: 100%;
}